<html>
   <head>
      <title>SoDuKu with Vue</title>
   <link rel="stylesheet" href="main.css">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

   </head>
   <script type="text/x-template" id="grid-template">
   	   	<table class="sudoku-container">
         	<tbody>
         	<tr v-for="(line, row) in data">
         		<td v-for="item, col in line" :class="get_bg(row,col)">
					<button name="cube"
					type="button"
					:id="cubeID(row,col)"
					:style="styObj" 
					@click="check_cube(row,col)">
						{{ item | show_no }}
					</button>
         		</td>
         	</tr>
         </tbody>
        </table>
   </script>
   <body>
      <div id="root">
      	<cube
      	:data="grids"
      	:forceColor="styObj"
      	@pickup="set_color"
      	></cube>
      </div>
      
      <script type="text/javascript">
      	alert(Math.floor(Math.random() * 10))
      	Vue.component('cube',{
      		template: '#grid-template',
			props:{
			    data: Array,
				selectnumber: Number,
			},
      		data: function(){
      			return {
					styObj:{
						color: 'blue',
	  					fontSize: 30,
					}
      			}
      		},
      		filters: {
				show_no: function (value) {
				  if(value > 0)
				  	return value
				  else
				  	return null
				},

			},
      		computed: {
      			filteredData: function(i){

      			}
      		},
      		methods:{
      			check_cube: function(r,c){
      				var v = this.cubeID(r,c)
					var dom = document.getElementById(v)
					var n = dom.innerHTML.trim()
      				if(n != ""){
      					this.on_selected(n)
      				}else{
      					this.set_no(r,c)
      				}
      			},
      			cubeID: function(row,col){
      				return (row*9)+col
      			},
				set_no: function(r,c){
					var dom = document.getElementById(this.cubeID(r,c))
					dom.style.color = "red"
					dom.innerHTML = app.$data.grids[r][c] = this.$data.selectnumber

		  		},
      			get_bg : function(rows,cols) {
			      return ((( (cols>2&&cols<6)||(rows>2&&rows<6) )&&( (cols<3||cols>5)||(rows<3||rows>5) )) ? "bg1" : "bg2");
			    },
				on_selected: function (elem) {
					// this.$emit('pickup',elem)
					this.$data.selectnumber = elem
					console.log("selectnumber : "+this.$data.selectnumber.toString())
      				var pos = []
      				var longarray = []
      				var data = this.data

				    data.forEach(function (n) {
						longarray = longarray.concat(n);
				    }) 
				    longarray.forEach(function (v,k) {
				    	var dom = document.getElementById(k)
				    	var color = app.$data['styObj']['color']
						dom.style.color = color // clean all

				    	if(v == elem) pos.push(k)
				    })
				    // console.log(pos)
				    pos.forEach(function(i){
						var dom = document.getElementById(i)
						dom.style.color = "red"
				    })
				}
      		}
      	})

		var app = new Vue({
			el: '#root',
			data:{
				styObj:{
					color: 'blue',
  					fontSize: 30,
				},
			  	selectnumber: 0,
			   	grids: [
						[ 0, 9, 0, 0, 0, 0, 8, 5, 3 ],
						[ 0, 0, 0, 8, 0, 0, 0, 0, 4 ],
						[ 0, 0, 8, 2, 0, 3, 0, 6, 9 ],
						[ 5, 7, 4, 0, 0, 2, 0, 0, 0 ],
						[ 0, 0, 0, 0, 0, 0, 0, 0, 0 ],
						[ 0, 0, 0, 9, 0, 0, 6, 3, 7 ],
						[ 9, 4, 0, 1, 0, 8, 5, 0, 0 ],
						[ 7, 0, 0, 0, 0, 6, 0, 0, 0 ],
						[ 6, 8, 2, 0, 0, 0, 0, 9, 0 ] 
					  ],
			},

			methods: {
			   	set_color: function(i){
			   		// console.log(this.styObj)
	      			// console.log("set_color"+i)
					// this.styObj['color'] = 'blue'
			   }
			}
		});
"use strict"
      </script>

   </body>
</html>